<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-feracor/blob/main/A01794022_Actividad_Semanal_6_visualizacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import seaborn as sns

In [ ]:
path = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

In [ ]:
df = pd.read_csv(path)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Descarga los datosEnlaces a un sitio externo. y carga el dataset en tu libreta. DescripciÃ³n aquÃ­. 


Obten la informaciÃ³n del DataFrame con los mÃ©todos y propiedades: shape, columns, head(), dtypes, info(), isna()


Limpia los datos eliminando los registros nulos o rellena con la media de la columna


Calcula la estadÃ­stica descriptiva con describe() y explica las medidas de tendencia central y dispersiÃ³n


Realiza el conteo de las variables categÃ³ricas


Escala los datos, si consideras necesario


Reduce las dimensiones con PCA, si consideras necesario.


Indica la varianza de los datos explicada por cada componente seleccionado.

 Para actividades de exploraciÃ³n de los datos la varianza > 70%


Indica la importancia de las variables en cada componente


Elabora los histogramas de los atributos para visualizar su distribuciÃ³n


Realiza la visualizaciÃ³n de los datos usando por lo menos 3 grÃ¡ficos que consideres adecuados: plot, scatter, jointplot, boxplot, areaplot, pie chart, pairplot, bar chart, etc.


Interpreta y explica cada uno de los grÃ¡ficos indicando cuÃ¡l es la informaciÃ³n mÃ¡s relevante que podrÃ­a ayudar en el proceso de toma de decisiones.

In [ ]:
# Guardar dataframe, poner nombre a las columnas.

df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv', index_col=0)
df.columns = ['NT_dollar','Gender','Education ','Marital status','Age ','past_pay_Apr','past_pay_May','past_pay_Jun','past_pay_Jul','past_pay_Aug','past_pay_Sep',
              'Bill_statament_Sep','Bill_statament_Aug','Bill_statament_Jul','Bill_statament_Jun','Bill_statament_May','Bill_statament_Apr',
              'prev_payment_Sep','prev_payment_Aug','prev_payment_Jul','prev_payment_Jun','prev_payment_May','prev_payment_Apr','Y']
df.head(5)

,NT_dollar,Gender,Education,Marital status,Age,past_pay_Apr,past_pay_May,past_pay_Jun,past_pay_Jul,past_pay_Aug,...,Bill_statament_Jun,Bill_statament_May,Bill_statament_Apr,prev_payment_Sep,prev_payment_Aug,prev_payment_Jul,prev_payment_Jun,prev_payment_May,prev_payment_Apr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0